
  .clients__link {
    @include flexbox (center, center);
   width: 100%;
    height: 90px;
    fill: $social-icon;
    border: 1px solid $social-icon;
    border-radius: 4px;
    transition: border-color $timing-function $function-animation,
    fill $timing-function $function-animation;
  
  .clients__item &:hover .clients__icon,
  .clients__item &:focus .clients__icon,
  .clients__item &:hover,
  .clients__item &:focus {
    border-color: $active;
    fill: $active;

  }
}

  .clients__icon {
    fill: $social-icon;
    transition: fill $timing-function $function-animation;
  }

  .clients {
    @include for-size(mobile-only) {
      margin: -15;
    }
  }
  .clients__item {
    @include for-size(mobile-only) {
      margin: 15px;
      width: calc(50% - 30px);
    }
  }

.clients {
  @include for-size(mobile) {
margin: -15px;
}
}
.clients__item  {
  @include for-size(mobile) {
 margin: 15px;
 width: calc(50% - 30px);
}
}

.clients {
  @include for-size(tablet) {
  margin: -15px;
}
}
.clients__item {
  @include for-size(tablet) {
  margin:15px;
  width: calc(33.333% - 30px);
}
}

 .clients__item {
      @include for-size(desktop) {
      width: calc((100% - 30px * 5) / 6);
      margin: 0;
      &:not(:last-child) {
        margin-right: 30px;
      
     }
    }
  }
  
  
  //.clients__item:not(:nth-child(3n)) {
  //  margin-right: 30px;
  //}
  //.clients__item {
  //  margin-bottom: 30px;
 // }
  //.clients__item:nth-last-child(-n +3) {
  //  margin-bottom: 0;
 // }