.contacts__icon{
    fill: $secondary-text;
    margin-right: 10px;
   }
  
   
  .contacts {
    @media screen and(max-width: 767px) {
      display: inline-block;
      
    }
    display: flex;
      justify-content: center;
      align-items: center;
     
   

  &__link {
    display: flex;
    align-items: center;
    @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  color: $secondary-text;
  transition: color $timing-function $function-animation;
  @media screen and(max-width: 767px) {
    font-size: 18px;
  }
}
  
  &__link:hover, 
  &__link:focus {
    color: $active;
  }
  
  &__link:hover &__icon {
    fill: $active;
  }

 
}
  

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
  @include for-size(desktop) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  @media screen and(max-width: 767px) {
    margin-bottom: 16px;
  }
}

  .footer-address {
    color: $white;
@include font(400, 14px, 1.71);
   
  
  &__link-mail {
    display: block;
    margin-bottom: 9px;
    margin-top: 9px;
    color: rgba(255, 255, 255, 0.6);
  }
  
  &__link-tel {
    color: rgba(255, 255, 255, 0.6);
  }
}
  .contacts-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }