
  .features__list {
    @include for-size(tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .features { 
    
  &__thumb  {
    @include flexbox (center, center);
    background-color: $gray-bgc;
    border: 1px solid transparent;
    border-radius: 4px;
   // width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }
  
  &__title {
    margin-top: 0px;
    margin-bottom: 10px;
    @include font(700, 14px, 1.14);
    text-transform: uppercase;
    text-align: center;
  }
  
  &__text {
   // max-width: 270px;
    color: $secondary-text;
    @include font(400, 14px, 1.71);
  }
}

.features__item {
  &:not(:last-child) {
  margin-bottom: 30px;
}
@include for-size(tablet) { 
  flex-basis: calc((100% - 30px)/2);
  margin-right: 30px;
  }
  
  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  
  &:nth-child(2n) {
    margin-right: 0;
  }
  @include for-size(desktop) {
    flex-basis: calc((100% - 30px * 3)/4);
    &:not(:last-child) {
    margin-right: 30px;
  }
  }
}

