.footer .container {
    padding: 60px 15px;
    //align-items: baseline;
    text-align: center;
    @include for-size (desktop) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;

    @include for-size (desktop) {
     align-items: baseline;
  }
}
  .footer  {
    background-color: $ftr-bcg;
   }
  
  .footer__thumb {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
  }
  
  
  
  
  
  
  