.footer .container {
    padding: 60px 15px;
    //align-items: baseline;
    text-align: center;
    @include for-size (desktop) {
      display: flex;
      align-items: baseline;

}
}

  .footer  {
    background-color: $ftr-bcg;
   }
  
  .footer__thumb {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    @include for-size(mobile) {
      margin-bottom: 60px;
    }
  }

  .wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
      justify-content: space-around;
      margin-bottom: 60px;
    }
  
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  .footer-box {
    @include for-size(desktop) {  
    display: inline-block;
     margin-left: 70px;
    }  
  }
  
  
  
  
  
  
  