
.gallery-section {
  display: none;
}


.gallery__item {
    width: calc((100% - 30px * 2) / 3);
  }
  
  .gallery__item:not(:last-child) {
    margin-right: 30px;
  }
  
 
   .gallery__item {
    position: relative;
  }
  
  .gallery__text {
    color: $white;
    @include font(700, 14px, 1.71);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  }

  .gallery__box {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    @include flexbox (center, center);
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    
  }
