.team-section { 
    background-color: $gray-bgc;
  }

  
  .team-card { 
  &__thumb {
     padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
  
  }
  
  &__name {
     color: $primary-text;
 }
  
  &__text {
    margin-top: 0px;
    margin-bottom: 16px;
    color: $secondary-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
  }
}
.team-card{ 
  @include for-size(tablet) {
  display: flex;
  flex-wrap: wrap;
}
}

.team-card__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: getColor(white-text);

  &:not(:last-child) {
  margin-bottom: 60px;
}

@include for-size(tablet) {
flex-basis: calc((100% - 30px)/2);
margin-right: 30px;
&:nth-child(-n + 2) {
margin-bottom: 30px;
}

&:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

&:nth-child(2n) {
  margin-right: 0;
}
}

@include for-size(desktop) {
  flex-basis: calc((100% - 30px * 3) / 4);
  &:nth-child(-n + 2) {
margin-bottom: 0;
}
  &:not(:last-child) {
  margin-right: 30px;
}
}
}

