.primary-button {
   display: inline-block;
    text-align: center;
    border-color: $active;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    border: 1px solid transparent;
    color: $white;
    background-color: $active;
    @include font(400, 16px, 1.87);
    letter-spacing: 0.06em;
    cursor: pointer;
  color: $white;
    transition: background-color $timing-function $function-animation;
  
  
   &:hover,
   &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.button__thumb {
  @include flexbox(center, center);
  margin-top: 30px;
}

.form__button {
padding: 10px 55px 10px 56px;
&:hover,
&:focus {
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
transition: $timing-function $function-animation;
}
}
    

    