.menu-button {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
}

.menu-button .icon-cross {
opacity: 0;
}