.backdrop {
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      opacity: 1;
     visibility: visible}
  
  
  .backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: $timing-function $function-animation;
  transform: translate(0%, 0%) scale(0) rotateX(0deg);
  }
  
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotateY(0deg);
    width: 450px;
    height: 609px;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: $timing-function $function-animation;
  }
  
  .is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5) rotateY(45deg);
    transition: $timing-function $function-animation;
  }
  
  .modal__button-close {
    @include flexbox(center, center);
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    margin: 0;
  width: 30px;
  height: 30px;
  background-color:$white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: all $timing-function $function-animation;
 
  &:hover, 
  &:focus {
    fill: $active;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.modal {

  &__content {
    padding: 40px;
  }
  
  &__icon-close {
    width: 11px;
    height: 11px;
    }

  &__title {
    display: block;
    text-align: center;
    margin-bottom: 12px;
    color: $black;
   @include font(700, 20px, 1.15);
  }
}