$white: #ffffff;
$active: #2196f3;
$black: #000000;
$primary-text: #212121;
$secondary-text: #757575;
$gray-bgc: #f5f4fa;
$mailito: rgba(255, 255, 255, 0.6);
$ftr-bcg: #2f303a;
$social-icon: #AFB1B8;
$function-animation: cubic-bezier(0.4, 0, 0.2, 1);
$timing-function: 250ms;